/*
 * Bitcasa.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 07/19/2016
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Bitcasa.PCL;
using Bitcasa.PCL.Http.Request;
using Bitcasa.PCL.Http.Response;
using Bitcasa.PCL.Http.Client;
using Bitcasa.PCL.Models;

namespace Bitcasa.PCL.Controllers
{
    public partial class AdministratorsOperationsController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static AdministratorsOperationsController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static AdministratorsOperationsController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new AdministratorsOperationsController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="authorization">Required parameter: BCS client_application_id:request_signature</param>
        /// <param name="date">Required parameter: Example: </param>
        /// <param name="username">Required parameter: Example: </param>
        /// <param name="password">Required parameter: Example: </param>
        /// <param name="email">Optional parameter: Example: </param>
        /// <param name="firstName">Optional parameter: Example: </param>
        /// <param name="lastName">Optional parameter: Example: </param>
        /// <return>Returns the GetProfileResponse response from the API call</return>
        public GetProfileResponse CreateAccount(
                string authorization,
                DateTime date,
                string username,
                string password,
                string email = null,
                string firstName = null,
                string lastName = null)
        {
            Task<GetProfileResponse> t = CreateAccountAsync(authorization, date, username, password, email, firstName, lastName);
            Task.WaitAll(t);
            return t.Result;
        }

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="authorization">Required parameter: BCS client_application_id:request_signature</param>
        /// <param name="date">Required parameter: Example: </param>
        /// <param name="username">Required parameter: Example: </param>
        /// <param name="password">Required parameter: Example: </param>
        /// <param name="email">Optional parameter: Example: </param>
        /// <param name="firstName">Optional parameter: Example: </param>
        /// <param name="lastName">Optional parameter: Example: </param>
        /// <return>Returns the GetProfileResponse response from the API call</return>
        public async Task<GetProfileResponse> CreateAccountAsync(
                string authorization,
                DateTime date,
                string username,
                string password,
                string email = null,
                string firstName = null,
                string lastName = null)
        {
            //the base uri for api requestss
            string _baseUri = string.Format(Configuration.BaseUri, Configuration.AccountId);

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/v2/admin/cloudfs/customers/");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "Authorization", authorization },
                { "Content-Type", "application/x-www-form-urlencoded; charset=utf8" },
                { "Date", date }
            };

            //append form/field parameters
            var _fields = new Dictionary<string,object>()
            {
                { "username", username },
                { "password", password },
                { "email", email },
                { "first_name", firstName },
                { "last_name", lastName }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, _fields);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<GetProfileResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 